@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.player1 {
  background: rgb(1, 137, 69);
  background: radial-gradient(
    circle,
    rgba(1, 137, 69, 1) 0%,
    rgba(0, 85, 43, 1) 80%
  );
}

.player2 {
  background: rgb(157, 5, 56);
  background: radial-gradient(
    circle,
    rgba(157, 5, 56, 1) 0%,
    rgba(102, 2, 36, 1) 80%
  );
}
